**Assignment Day-2**

q1  what is difference between series and data frame?

q2  what does value comes in pandas?

q3  what are the aggregation funtions and what does group by?

q4  what is difference between loc and Iloc method in pandas?

q5  how do you handle missing values in pandas?

q6  what is "head", "tail", "sample" in pandas?

q7  what is difference between describe method and info method in pandas?

q8  what is difference between mean and median?

q9  what is difference between merge and concatinate in pandas?

q10 what is univariate, bivariate and multivariate analysis. explain with example. And what is difference between discrete and continuous data?

In [2]:
# q1 difference between series and data frame

import pandas as pd
s = pd.Series([1, 2, 3, 4, 5])
print(s)

# data frame
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [3]:
# Q2) What does value_counts do in pandas?

# The value_counts method returns a Series containing counts of unique values in a Series.

s = pd.Series([1, 2, 2, 3, 3, 3, 4])
counts = s.value_counts()
print(counts)

3    3
2    2
1    1
4    1
Name: count, dtype: int64

In [6]:
# Q3) Aggregation Functions and Group-wise Operations in pandas

# Aggregation Functions:
# These functions compute a single result for a Series or DataFrame.
# Examples include sum(), mean(), min(), max(), count(), etc.

# Group-wise Operations:
# Using groupby() to split the data into groups, perform operations, and combine the results.

df = pd.DataFrame({
    'A': ['abhay', 'Mittal', 'abhay', 'Mittal'],
    'B': [1, 2, 3, 4]
})
grouped = df.groupby('A').sum()
print(grouped)

        B
A
Mittal  6
abhay   4

In [7]:
# Q4) Difference between loc and iloc in pandas
# loc is label-based. You use labels to access rows and columns.
# iloc is integer position-based. You use integer indices to access rows and columns.

df = pd.DataFrame({'A': [10, 20, 30], 'B': [100, 200, 300]}, index=['x', 'y', 'z'])

# Using loc
print(df.loc['x'])

# Using iloc
print(df.iloc[0])

A     10
B    100
Name: x, dtype: int64
A     10
B    100
Name: x, dtype: int64

In [8]:
# Q5) Handling Missing Values in pandas
# dropna(): Remove missing values.
# fillna(): Fill missing values with a specified value.
# isna(): Detect missing values.
# notna(): Detect existing (non-missing) values.

df = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]})

# Drop rows with missing values
df_dropped = df.dropna()

# Fill missing values
df_filled = df.fillna(0)

print(df_dropped)
print(df_filled)

     A    B
0  1.0  4.0
     A    B
0  1.0  4.0
1  2.0  0.0
2  0.0  6.0

In [9]:
# Q6) Difference between head, tail, and sample in pandas
# head(): Returns the first n rows (default is 5).
# tail(): Returns the last n rows (default is 5).
# sample(): Returns a random sample of n rows.

df = pd.DataFrame({'A': range(10), 'B': range(10, 20)})

print(df.head())
print(df.tail())
print(df.sample(3))

   A   B
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
   A   B
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19
   A   B
6  6  16
7  7  17
4  4  14

In [10]:
# Q7) Difference between describe and info method in pandas
# describe(): Provides summary statistics of numerical columns (like count, mean, std, min, 25%, 50%, 75%, and max).
# info(): Provides a concise summary of the DataFrame, including the index dtype, column dtypes, non-null values, and memory usage.

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.describe())
print(df.info())

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes
None

In [12]:
# Q8) Difference between Mean and Median

# Mean: The average of a set of numbers.
# mean = sum(numbers) / count(numbers)

# Median: The middle value in a sorted list of numbers. If the list has an even number of elements, the median is the average of the two middle numbers.
numbers = [1, 2, 3, 4, 5]
# median = np.median(numbers)
3325

3325

In [14]:
# Q9) Difference between merge and concat in pandas
# merge: Combines DataFrames based on common columns or indices, similar to SQL JOIN operations.
# concat: Combines DataFrames along a particular axis (rows or columns).

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})
merged = pd.merge(df1, df2, on='key', how='inner')
print(merged)

  key  value1  value2
0   A       1       4
1   B       2       5