In [ ]:
# lambda Function

In [1]:
print("hello")

hello

In [3]:
x = lambda a,b : a*b;
print("ans is = ", x(3,4))

ans is =  12

In [15]:
#Filter function

ages = [5,12,17,18,34,67,50]
def myFunc(x):
    if(x>=18):
        return True
    else:
        return False

kid = list(filter(myFunc, ages))
print(kid)

[18, 34, 67, 50]

In [29]:
#Map Function() ===> It changes in overall data
# we use mapping

a = ["3", "45", "89"]

# method - 1
# print(a)
# for i in range(list(a)):
#     a[i] = int(a[i])
#     print(a)
#     a[2] = a[2]+1
#      print(a[i])

#method 2 by using map function
b = list(map(int,a))
print(b)
b[2]=b[2]+1
print(b[2])

[3, 45, 89]
90

In [31]:
# String in Python
a = "abhay"
type(a)

str

In [33]:
print(a[1])  #forward indexing
print(a[2])
print(a[3])
print(a[-1])   # backward indexing
print(a[-2])
print(a[-3])

b
h
a
y
a
h

In [39]:
#Slicing in python
a = "Good morning"
print(a[0:5])
print(a[1:7:2])
print(a[0:])
print(a[:-1])

Good
odm
Good morning
Good mornin

In [47]:
# String function
# interview Question

# 1. write a program to find reverse of a string
a = "abhay"
print(a[-1::-1])

# 2. write a program to check if a string is palindrome or not
a = "yahba"
b = a[-1::-1]
if(a==b):
    print("palindrome string")
else:
    print("not palindrome")

yahba
not palindrome

In [49]:
# example
a = ["abhay",45,"shubham",98.98]
print(a[1])
print(a[0:])
print(a[:])
print(a[:3])
print(a[1:3])

45
['abhay', 45, 'shubham', 98.98]
['abhay', 45, 'shubham', 98.98]
['abhay', 45, 'shubham']
[45, 'shubham']

In [51]:
# multiple type
a = ["abhay",45,"shubham",98.98]
print(a)
print(a[1])

['abhay', 45, 'shubham', 98.98]
45

In [57]:
# Tuple

#example
a = (45,'abhay',89.47,'mohit')

# q-1 convert this>>
# (45,'abhay',89.47,'mohit') ===>  (45,'abhay',"rubi",'mohit')
#a[2] = "rubi"   // not possible directly
# print(a)
b = list(a)  # convert tuple into list first
print(b)
b[2] = "rubi"
print(b)
c = tuple(b)
print(c)

[45, 'abhay', 89.47, 'mohit']
[45, 'abhay', 'rubi', 'mohit']
(45, 'abhay', 'rubi', 'mohit')

In [59]:
# task -1  write a user defined tuple program
a = []    #take a blank list
size = int(input("enter size : "))
for i in range(size):
    val = input("enter number")  
    a.append(val)
#print(a)
b = tuple(a)
print(b)

enter size :  3
enter number abhau
enter number ajhjd
enter number jdf

('abhau', 'ajhjd', 'jdf')

In [65]:
# Dictionary

#example
a = {"brand" : "kia", "model" : "celtos", "year" : 2022}
print(a)
b= a["year"]
print(b)

{'brand': 'kia', 'model': 'celtos', 'year': 2022}
2022

In [81]:
# loop through a dictionary
a = {"brand" : "kia", "model" : "celtos", "year" : 2022}
# for i in a :   # extract all the keys
#     print(i)

for i in a.keys():   # extract all the keys
    print(i)

# for i in a:      # extract all the values
#     print(a[i])

# for i in a.value():   # extract all the values
#     print(i)

brand
model
year

In [87]:
# sets >>> collection of items which is unordered

a = {"good","bad", "good"}
print(type(a))
print(a)

# typecasting list to set
a  = set(["abhay","amogn","mittal"])
print(a)

<class 'set'>
{'good', 'bad'}
{'amogn', 'mittal', 'abhay'}

In [89]:
# adding element to the set

a  = set({"abhay","amogn","mittal"})
a.add("rahul")
print(a)

{'rahul', 'amogn', 'mittal', 'abhay'}